.navigation {
    padding:10px;

    box-shadow: 0px 0px 7px 0px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(255,255,255,0.75);
}

.navigation-item {
    padding: 5px 10px;
}

.navbar {
    margin-top: 10px;
}

.navbar-padding {
    padding: 10px 0px;
}

.header {
    margin-top: 30px;
}

.play-button {
    padding: 8px 10px;
}

.buttons {
    margin-top: 10px;
}

.button {
    padding: 10px;
}

.too {
    margin-top: 50px;
}

.slider {
    padding: 10px;
}

.cart {
    padding: 20px 10px;
}

.xlmargin {
    margin-top: 100px;
}

.footer {
    padding: 50px 0px;
}

.footer-item {
    margin-bottom: 10px;
    color: white !important;
}

.footer-nav li {
    color: #999999;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
}

.footer-nav li:hover {
    text-decoration: underline;    
}

.icon {
    padding: 10px;
    cursor: pointer;
}

.prove-cart {
    padding: 50px 30px;
}

.single-cart {
    padding: 30px 50px;
}

.single-cart-review {
    padding: 30px;
}

.arrow-padding {
    padding: 20px;
}

.info label {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #999999;
}

.info label>img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.info-lang-cart {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.star-container img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.cart-geners {
    margin-right: 30px;
}


/* react-multi-carousel default arrowsni yashirish */
.react-multi-carousel-list .react-multiple-carousel__arrow {
    display: none !important;
  }


  /* Carousel containerni gorizontal qilish */
