.navigation {
    padding:10px;

    box-shadow: 0px 0px 7px 0px rgba(255,255,255,0.75);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(255,255,255,0.75);
}

.navigation-item {
    padding: 5px 10px;
}

.navbar {
    margin-top: 10px;
}

.header {
    margin-top: 30px;
}

.play-button {
    padding: 8px 10px;
}

.buttons {
    margin-top: 10px;
}

.button {
    padding: 10px;
}

.too {
    margin-top: 50px;
}

.slider {
    padding: 10px;
}

.cart {
    padding: 20px 10px;
}

.xlmargin {
    margin-top: 200px;
}

.footer {
    padding: 70px 0px;
}

.footer-item {
    margin-bottom: 10px;
    color: white !important;
}

.footer-nav li {
    color: #999999;
    font-weight: bold;
    margin-top: 5px;
    cursor: pointer;
}

.footer-nav li:hover {
    text-decoration: underline;    
}

.icon {
    padding: 10px;
    cursor: pointer;
}

.prove-cart {
    padding: 50px 30px;
}

.single-cart {
    padding: 30px 50px;
}

.single-cart-review {
    padding: 30px;
}